:root{
    --color-primario:#698474;
    --color-primariomob: #B7B597;
    --color-botones: #DCA47C;
    --color-cajatexto: #FFD3B6;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 
  
html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
}

.area1{
    background-color: var(--color-primario);
    width: 30%;
    height: 100%;
    border: black;
}

.area2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-primario);
    width: 35%;
    height: auto;
    padding: 21px 30px 30px 80px;
    border: black;
}

.copyright{
    position: relative;
    text-align: center;
    color:#FFFFFF;
    font-size: 13px;
    padding-top: 20%;
    margin: 20px;
}

.area3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-primario);
    width: 35%;
    height: auto;
    border: black;
}

.mensaje{
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    color: whitesmoke;
}

 .parrafo{
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 8%;
    padding-bottom: 8%;
    color: whitesmoke;
}

.textNormal{
    width: 90%;
    height: 350px;
    margin-left: 4%;
    margin-top: 9%;
    text-align:left;
    border: none;
    background-color: var(--color-cajatexto);
    color: #000000;
    font-size: 20px;
}

.textoEncrip{
    width: 90%;
    height: 60%;
    background-color: var(--color-cajatexto);
    text-align: left;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 8%;
    padding-bottom: 0%;
    overflow-wrap: break-word;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.botonCopiar{
    width: 50%;
    height:5% ;
    margin-left: 25%;
    border-radius:15px 15px 15px 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    background-color: var(--color-botones);
}

.botonEncriptar{
    width: 40%;
    height:200%;
    border-radius:15px 15px 15px 15px;
    background-color: var(--color-botones);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

/*Imagen*/

.img1{
    width: 25%;
    height: auto;
    padding: 15%;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.botonEncriptar:hover{
    background-color:#EEEEEE;
}

  .botonCopiar:hover{
    background-color:#EEEEEE;
}

/*Medidas Query*/

@media all and (max-width: 480px) { 

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: auto;
        box-sizing: border-box;
    }

    html{
        height: 100%;
    }

    .area1{
        display: flex;
        flex-direction: column;
        margin-left: auto;  
        margin-right: auto; 
        width: auto;
        height: auto;
        background-color: var(--color-primariomob);
    }

    /*.img1{
        display: block;  
        margin-left: auto;  
        margin-right: auto; 
    /}*/
    
    .area2{
        display: flex;
        flex-direction: column;
        background-color: var(--color-primariomob);
        width: auto;
        height: 40%;
        margin-left: auto;  
        margin-right: auto; 
        /*padding-left: 42px;*/
    }

    .area3{
        display: flex;
        flex-direction: column;
        background-color: var(--color-primariomob);
        width: auto;
        height: 40%;
    }

    .area3 p{
        /*position: absolute;*/
        font-size: 70%;
        /*margin-left: 25%;*/
    }

    /*p{*/
        /*padding: 15px 15px;*/
    /*}*/

    .area3 h2{
        /*position: absolute;*/
        font-size: 70%;
        /*margin-left: 25%;*/
    }

    .img{
        display: block;  
        margin-left: auto;  
        margin-right: auto; 
    }

    /*.textoEncrip{
        margin: 3%;
    }*/

    /*.botonCopiar{*/
        /*margin: 0.5%;*/
        /*margin-left: 22%;*/
    /*}*/

  .copyright{
    display: none;
  }

  .mensaje{
    display: block;
    text-align: center;
    margin-left: auto;  
    margin-right: auto; 
    color: whitesmoke;
}

  .botonEncriptar:hover{
    background-color:#A7E6FF;
  }

  .botonCopiar:hover{
    background-color:#A7E6FF;
  }
}